{% extends "_base.html" %}
{% block title %}forget password{% endblock title %}
{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
    {% include "include/alert.html" %}
      <div class="card-body">
        
        
      <h4 class="card-title mb-4">Forgot Password</h4>
      <form action="{% url "accounts:send_link_reset" %}" method="POST">
        {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" placeholder="Email Address" name="email" >
          </div> <!-- form-group// -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Send Link</button>
          </div>
      </form>
        <div class="form-group">
          	<a href="{% url "accounts:login_account" %}" class="float-right">Back to Login?</a> 
          </div> <!-- form-group form-check .// -->
         
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>

{% endblock content %}